body {
  margin: 0;
}
.navbar {
  border-bottom: 1px solid lightgray;
}
p.logo {
  font-family: "Kristi", cursive;
  display: inline;
  font-size: 2rem;
  margin-left: 1.5rem;
}
p.sub-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  display: inline;
  font-size: 1.8rem;
  margin-left: 0.5rem;
}
.box {
  display: flex;
  padding: 0;
  margin: 50% 0;
  justify-content: center;
}
.wolf {
  width: 100%;
}
.nav-link {
  text-align: center;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  text-transform: uppercase;
}
/*  

*/
@media only screen and (min-width: 989px) {
  .box {
    margin: 2rem;
  }
  .wolf {
    width: 36vw;
  }
}
