body {
  width: 100%;
  margin: 0;
}
footer{
  text-align: center;
}
/* 
 Change the Sarah R Bailey ART logo
*/

p.logo {
  font-family: "Kristi", cursive;
  display: inline;
  font-size: 2.5rem;
}
p.sub-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  display: inline;
  font-size: 2rem
}
.display-1{
  margin-top: 0.5rem;
  text-align: center;
}
.card {
  margin: 0.5rem;
}
.nav-link{
  text-align: center;
}
/*  

*/
@media only screen and (min-width: 415px) and (max-width: 767px) {
}
