body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}
.nav-menu,
#hidden-menu-links {
  color: #fafafa;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
/* 
 Change the Sarah R Bailey ART logo
*/
.logo {
  font-family: "Kristi", cursive;
  font-size: 2.8rem;
  margin: 1rem 0 0 1rem;
}
.sub-logo {
  display: flex;
  color: #fafafa;
  font-size: 2.3rem;
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  justify-content: center;
  margin: 1rem 0 0 0;
}
/*  

*/
@media only screen and (min-width: 415px) and (max-width: 767px) {
}
